<%- include("partials/header") -%>
 

<nav class="navbar navbar-expand-lg navbar-dark p-0" id="bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand " id="portalTop" href="/allQuiz">Edit Quizes</a>
          
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
          
         
       
         <div style="margin-right: 20px;" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i> Welcome <%=printData[0].username%>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          
                          <li><hr class="dropdown-divider"></li>
                          <li> <form id="LOG" action="/logout" method="post">
                            <a style="cursor: pointer;" class="dropdown-item" onclick="myFunction()">
                             <i class="fa fa-user-times"></i> Logout
                           </a>
                          </form></li>
                        </ul>
                      </li>
                 
                 <li class="nav-item">
                     <a href="/user/1/notification" class="nav-link">
                         <i class="fa fa-bell"></i><span class="badge badge-danger badge-pill">2</span>
                     </a>
                 </li>
               </ul>
      
            
         </div>
        </div>
   </nav>
 




 <div style="margin-top: 70px;" class="container">
    <div class="title">Enter Quiz Details</div>
    <div class="content">
        <form action="/adminPortal" method="POST">
            <div  class="user-details">
                <div class="input-box">
                    <span style="text-align: left;" class="details">Course</span>
                    <input name="Cname" type="text" placeholder="Enter your Course" required>
                </div>
            </div>
            <div class="user-details">
                <div class="input-box">
                    <span style="text-align: left;" class="details">Question</span>
                    <input name="CQ" type="text" placeholder="Enter your Question" required>
                </div>
            </div>

            <div class="user-details">
                <div class="input-box">
                    <span for="ans" style="text-align: left;" class="details">Answer</span>
                    <!-- <input name="QA"  placeholder="Enter Answer" required> -->
                    <select id="ans" name="anss">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                      </select>
                </div>
            </div>
            <div class="user-details">
                <div class="input-box">
                    <span style="text-align: left;" class="details">Option 1</span>
                    <input name="QO1" type="text" placeholder="Option 1" required>
                </div>
            </div>

            <div class="user-details">
                <div class="input-box">
                    <span style="text-align: left;" class="details">Option 2</span>
                    <input name="QO2" type="text" placeholder="Option 2" required>
                </div>
            </div>

            <div class="user-details">
                <div class="input-box">
                    <span style="text-align: left;" class="details">Option 3</span>
                    <input name="QO3" type="text" placeholder="Option 3" required>
                </div>
            </div>
            <div class="user-details">
                <div class="input-box">
                    <span style="text-align: left;"  class="details">Option 4</span>
                    <input name="QO4" type="text" placeholder="Option 4" required>
                </div>
            </div>


            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>







<%- include("partials/footer") -%>