/* Everything Related to main page styling */

body {
    min-height: 100%;
    /* background-color: #ffffff; */
}

h1 {
    letter-spacing: -1px;
}

a {
    color: #0f30c4;
    text-decoration: unset;
}

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.flex-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.box-root {
    box-sizing: border-box;
}

.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.loginbackground-gridContainer {
    display: -ms-grid;
    display: grid;
    margin: 0 -2%;
    justify-content: center;
    transform: rotate(-12deg) skew(-12deg);
    -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
    background-color: #1d1b86;
}

.box-background--white {
    background-color: #ffffff;
}

.box-background--blue800 {
    background-color: #0f30c4;
}

.box-background--gray100 {
    background-color: #e3e8ee;
}

.box-background--cyan200 {
    background-color: #053847;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.padding-bottom--15 {
    padding-bottom: 15px;
}

.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
}

label {
    margin-bottom: 10px;
}

.reset-pass a,
label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.reset-pass>a {
    text-align: right;
    margin-bottom: 10px;
}

.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
    background-color: #0f30c4;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}

.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}

a.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}

.footer-link span {
    font-size: 14px;
    text-align: center;
}

.listing a {
    color: #697386;
    font-weight: 600;
    margin: 0 10px;
}

.animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}

.animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}

.tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}

.tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRightLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* Styling of Register page is here */

.div1{
    height:600px;
    background-color: #1f4068;
  }
  .div2{
    height: 600px;
    background-color: white;
  }
  .ORparagraph{
    text-align: centre;
    font-size: 28px;
    font-family: 'Liu Jian Mao Cao',cursive;
    margin-top: 65px;
  }
  @media(max-width: 950px){
    .ORparagraph{
      margin-top: 0px;
    }
  }
  
  .my-image{
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 150px;
    margin-bottom: 20px;
  }
  .paragraph{
    text-align: centre;
    font-size: 28px;
    font-family: 'Liu Jian Mao Cao',cursive;
  }
  .Label{
    font-size: 15px;
    margin-bottom: 5px;
    padding-top: 15px;
  }
  .form-control{
    width: 100%;
  }
  .form-signin {
    width: 80%;
    padding: 15px;
    margin: auto;
    margin: 50px 0 0 30px;
  }
  .div21{
    margin-top: 100px;
    /* height: 600px; */
    width: 710px;
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 100px;
  }
  .form-register{
    width: 100%;
    padding: 15px;
    /* margin-left: 30px; */
  }
  .btn-social{
    text-align: center;
  }
  #authDiv{
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media(max-width: 1000px){
    #authDiv{
      margin-top: 0px;
      padding-top: 0px;
    }
  }
  .image-preview{
    width: 150px;
    height: 150px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    /* border-radius: 100%; */
    /* display text */
    display: flex;
    object-fit: cover;
    object-position: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
  }
  .image-preview__image{
    display: none;
    filter: grayscale(40%);
    /* border-radius: 100%; */
    width: 100%;
    height: 150px;
  
  }

  /* Styling of Portal */

  #bg-dark{
    background-color: #1d2d50;
}
.details{
  text-align: center;
  font-weight: bold;   
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
#portalTop:hover{
  color: #ffc93c;
  transition-duration: 1s;
}
.portalImg{
  height: 200px;
  width: 200px;
  margin: auto;
  filter: grayscale(30%);
  margin-top: 10px;
}
@media(max-width: 995px){
  .portalImg{
    height: 120px;
    width: 120px;
  }
}
@media(max-width: 750px){
  .portalImg{
    height: 200px;
  width: 200px;
  }
}
.featureButton{
  background-color:  #1f4068; 
  color: white; 
  font-weight: bold;
}

.feedImage{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
@media(max-width: 500px)
{
.feedImage{
  width: 70px;
  height: 70px;
}
}
.logoutButton{
  margin-top: 20px; 
  width: 100%; 
  background-color: #1d2d50;
}
.logoutButton:hover{
background-color: white;
}


/* Styling of quiz section */


  
  ::selection {
    background: #fff;
    color: #117eeb;
  }
  
  /* body {
    background: #252c4a;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
  } */
/*   
  .container {
    max-width: 50rem;
    width: 90vw;
    margin: 2rem auto;
  }
   */
  .quiz__heading {
    display: none;
  }
  
  .result {
    font-size: 2rem;
    color: #117eeb;
  }
  
  .heading__text {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }
  
  .quiz__heading-text {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 300;
  }
  
  .quiz-form__question {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }
  
  .quiz-form__quiz:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .quiz-form__ans {
    border-radius: 0.8rem;
    border: 2px solid #264868;
    padding: 0.8rem;
    color: #a1a9bd;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  
  .quiz-form__ans:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: 15px;
    z-index: -1;
  }
  
  .design {
    width: 1rem;
    height: 1rem;
    border: 1px solid #a1a9bd;
    border-radius: 100%;
    margin-right: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .design::before,
  .design::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    transform: scale(0);
    transform-origin: center center;
  }
  
  .design:before {
    background: #a1a9bd;
    opacity: 0;
    transition: 0.3s;
  }
  
  .design::after {
    background: #117eeb;
    opacity: 0.4;
    transition: 0.6s;
  }
  
  .text {
    backface-visibility: hidden;
    transition: transform 200ms ease-in;
  }
  
  input[type="radio"]:hover ~ .text {
    transform: translateX(0.4rem);
  }
  
  input[type="radio"]:hover .quiz-form__ans {
    color: #117eeb;
  }
  
  input[type="radio"]:checked + .design::before {
    opacity: 1;
    transform: scale(0.6);
  }
  
  input[type="radio"]:hover + .design,
  input[type="radio"]:focus + .design {
    border: 1px solid #117eeb;
  }
  
  input[type="radio"]:hover + .design:before,
  input[type="radio"]:focus + .design:before {
    background: #117eeb;
  }
  
  input[type="radio"]:focus + .design::after,
  input[type="radio"]:active + .design::after {
    opacity: 0.1;
    transform: scale(2);
  }
  
  .submit {
    border: none;
    border-radius: 100vh;
    padding: 0.8rem 1.5rem;
    background: #117eeb;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin: 1rem auto 4rem auto;
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
  }
  
  .submit:focus {
    outline: none;
  }
  
  .submit:hover {
    transform: translateY(-2px) scale(1.015);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
  }
  
  .submit:active {
    transform: translateY(0) scale(1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .correct {
    color: #117eeb;
  }
  
  .wrong {
    color: crimson;
  }
  

  /* Admin Portal Styles */





.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: black;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 210%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: burlywood;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: burlywood;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(119, 80, 30);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: rgb(151, 114, 59);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}